name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    steps:
      # The other verification steps (checkout, build, format, etc.) will be run from PR Verify workflow already
      - name: Dotnet test
        run: dotnet test --configuration Release

      - name: Dotnet publish
        run: dotnet publish --configuration Release -o artifacts
