name: PR Verify

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: PR Verify
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4 # Check out the repository first

      - name: Set up .NET Core # Set up the .NET environment
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0

      - name: Build with dotnet # Build the project
        run: dotnet build --configuration Release