name: Secret Workflow

on:
  pull_request:
    branches: [ "main" ]

env:
  API_CSPROJ_PATH: "./src/GitHubActionsDotNet.Api/GitHubActionsDotNet.Api.csproj"

jobs:
  secrets:
    name: Secret Demo
    runs-on: ubuntu-latest

    steps:
      - name: echo environmnet variables
        run: echo "The env variable value is ${{ env.API_CSPROJ_PATH }}"