name: Secret Workflow

on:
  pull_request:
    branches: [ "main" ]

env:
  API_CSPROJ_PATH: "./src/GitHubActionsDotNet.Api/GitHubActionsDotNet.Api.csproj"

jobs:
  secrets:
    name: Secret Demo
    runs-on: ubuntu-latest
    env:
      JOB_NAME: "Secrets" #Job-level environment variable

    steps:
      - name: echo environmnet variables
        #run: echo "The env variable value is ${{ env.API_CSPROJ_PATH }}"
        run: echo "The value of $JOB_NAME is $API_CSPROJ_PATH"
        

  new_job:
    name: Secret Demo2
    runs-on: ubuntu-latest
    env:
      JOB_NAME: "New Job" #Job-level environment variable

    steps:
      - name: echo environmnet variables
        #run: echo "The env variable value is ${{ env.API_CSPROJ_PATH }}"
        run: echo "The value of $JOB_NAME is $API_CSPROJ_PATH"

  api_key_secret_job:
    name: Secret Demo3
    runs-on: ubuntu-latest

    steps:
      - name: echo environmnet variables
        run: echo "The api key secret value is ${{ secrets.SECRET_API_KEY }}"